#mainLight {
width: 270px;
height: 850px;
background-color: rgb(46, 46, 46);
border-radius: 5em;
align-items: center;
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 15px;
}

.red {
background-color: red;
opacity: 10%;
}

.yellow {
background-color: yellow;
opacity: 10%;
}

.green {
background-color: rgb(74, 248, 74);
opacity: 10%;
}

.light {
box-shadow: -10px 15px 22px 15px black inset;
height: 250px;
width: 250px;
border-radius: 50%;
}

.active {
  opacity: 100%;
}